
body {
    background-color: #f2f2f2;
    font-family: "Lato";
    font-weight: 300;
    font-size: 16px;
    color: #555;
    padding-top: 50px;

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

/* Titles */
h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 300;
    color: #006139;
}

/* Paragraph & Typographic */
p {
    line-height: 28px;
    margin-bottom: 25px;
}

.centered {
    text-align: center;
}

/* Links */
a {
    color: #81C341;
    word-wrap: break-word;
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

a:hover,
a:focus {
    color: #c0392b;
    text-decoration: none;
    outline: 0;
}

a:before,
a:after {
    -webkit-transition: color 0.1s ease-in, background 0.1s ease-in;
    -moz-transition: color 0.1s ease-in, background 0.1s ease-in;
    -ms-transition: color 0.1s ease-in, background 0.1s ease-in;
    -o-transition: color 0.1s ease-in, background 0.1s ease-in;
    transition: color 0.1s ease-in, background 0.1s ease-in;
}

.navbar-default .navbar-nav > li > a {
    text-transform: uppercase;
    color: #81C341;
    font-weight: bold;
}

.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus {
    background-color: #DDE8BC;
    color: #006139;
}

li.callus a {
    font-weight: bold;
    font-size: 20px;
    color: #F76B1A !important;
}

.navbar-brand {
    float: left;
    font-size: 18px;
    line-height: 20px;
    padding: 0px;
    padding-right: 30px;
}

.cartlink {
    padding-left: 40px !important;
    background-image: url("../img/cart.png");
    background-position: left center;
    background-repeat: no-repeat;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/* ==========================================================================
   Wrap Sections
   ========================================================================== */

#headerwrap {
    background-color: #000000;
    padding-top: 60px;
}

#headerwrap h1 {
    margin-top: 30px;
    color: white;
    font-size: 70px;

}

#headerwrap h3 {
    color: white;
    font-size: 30px;
}

#headerwrap h5 {
    color: white;
    font-weight: 700;
    text-align: left;
}

#headerwrap p {
    text-align: left;
    color: white
}

/* intro Wrap */

#intro {
    padding-top: 10px;
    border-top: #bdc3c7 solid 5px;
}

#features {
    padding-top: 10px;
    padding-bottom: 50px;
    background: #ffffff;
}

#features .ac a {
    font-size: 20px;
}

/* Showcase Wrap */

#showcase {
    display: block;
    background-color: #34495e;
    padding-top: 50px;
    padding-bottom: 50px;
}

#showcase h1 {
    color: white;
}

#footerwrap {
    background-color: #2f2f2f;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 1);
    color: white;
    padding-top: 40px;
    padding-bottom: 60px;
    text-align: left;
}

#footerwrap h3 {
    font-size: 28px;
    color: white;
}

#footerwrap p {
    color: white;
    font-size: 18px;
}

/* Copyright Wrap */

#c {
    background: #222222;
    padding-top: 15px;
    text-align: right;
}

#c p {
    color: white
}

label.error {
    background-color: #C43C35;
    background-image: -webkit-linear-gradient(top, #F76B1A, #C43C35);
    background-image: -moz-linear-gradient(center top, #F76B1A, #C43C35);
    background-image: -ms-linear-gradient(top, #F76B1A, #C43C35);
    background-image: -o-linear-gradient(top, #F76B1A, #C43C35);
    background-image: linear-gradient(top, #F76B1A, #C43C35);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 0 0 #EE5F5B;
    -moz-box-shadow: inset 0 1px 0 0 #EE5F5B;
    -ms-box-shadow: inset 0 1px 0 0 #EE5F5B;
    -o-box-shadow: inset 0 1px 0 0 #EE5F5B;
    box-shadow: inset 0 1px 0 0 #EE5F5B;
    color: #fff;
    padding: 1px 5px;
}

#productswrap {
    padding-top: 60px;
}

#sidebar div.box {
    background: none repeat scroll 0 0 #FFFFFF;
    border-radius: 3px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    margin: 0 0 15px;
    padding: 15px;
}

div.box h2 {
    margin: 0;
    padding: 0;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    background: url('../img/header-green.png');
    font-size: 15px;
    font-weight: 400;
    padding: 10px 15px 5px 15px;
    line-height: 20px;
    margin: -15px -15px 15px;
    border-radius: 3px 3px 0 0;
}

.content-box-inset {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.1);
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    margin: 0 0 20px;
    padding: 10px;
}

ul.discover-list {
    list-style: outside none;
}

ul.discover-list li {
    height: 302px;
    margin: 0 9px 10px 0;
    padding: 0;
    overflow: hidden;
    -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -moz-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -ms-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    -o-box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.2) inset;
}

ul.discover-list li:nth-child(4n) {
    margin-right: 0;
}

ul.discover-list li .product {
    display: block;
}

ul.discover-list li a.image img {
    border-radius: 3px 3px 0 0;
}

ul.discover-list li .details {
    padding: 10px 10px 10px 40px;
    width: 228px;
    position: relative;
    opacity: 1;
    background: #fff;
    border-radius: 0 0 3px 3px;
    height: 74px;
}

.checkout-progress {
    position: relative;
    border-radius: 3px;
    height: 132px;
    margin: 0 0 20px 0;
    background: #fff;
    padding: 20px 0;
}

.checkout-progress.step-cart ol {
    background: #fff url('../img/checkout-3steps.png') 0px -0px no-repeat;
}

.checkout-progress.step-delivery ol {
    background: #fff url('../img/checkout-3steps.png') 0 -96px no-repeat;
}

.checkout-progress.step-payment ol {
    background: #fff url('../img/checkout-3steps.png') 0 -193px no-repeat;
}

.checkout-progress.step-review ol {
    background: #fff url('../img/checkout-3steps.png') 0 -289px no-repeat;
}

.checkout-progress ol {
    list-style: none;
    margin: 0;
    height: 100px;
    width: 100%;
    padding: 0;
    position: relative;
}

.checkout-progress ol li {
    position: absolute;
    top: 0px;
    font-weight: 600;
    color: #727272;
    text-transform: uppercase;
}

.checkout-progress ol li.step-cart {
    left: 40px;
}

.checkout-progress ol li.step-delivery {
    left: 300px;
}

.checkout-progress ol li.step-payment {
    left: 610px;
}

.checkout-progress ol li.step-review {
    left: 585px;
}

.checkout-progress.step-completed, .checkout-progress.step-active {
    color: #6BB4E1;
}

ul.howto-list{
    list-style: outside none;
    padding: 0px;
}
